@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}

 .split-pane-col {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.split-pane-row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.split-pane-top,
.split-pane-bottom,
.split-pane-right,
.split-pane-left {
  flex: 1;
  overflow: hidden;
}


.separator-col {
  cursor: col-resize;
}
.separator-col,
.separator-row{
  border: 5px solid rgb(167, 149, 149, 0.5);
}
.separator-row {
  cursor: row-resize;
}


.labelline {
  position: absolute;
  padding: 0 12px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  opacity: 0.9;
  line-height: 20px;
  color: black;
  transition: 0.2s ease;
}

.entryarea {
  position: relative;
  /* box-sizing: border-box; */

}

input {
  position: relative;
  width: 100%;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #0000001f;
  line-height: 50px;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}


input:focus, input:valid {
  color: #673ab7;
  border: 2px solid #673ab7;

}

input:focus + .labelline, input:valid + .labelline {
  color: #673ab7;
  /* background-color: #673ab7; */
  /* height: 30px; */
  line-height: 30px;
  transform: translate(-15px, -16px) scale(0.88);
  
}


button {
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #673ab7;
  line-height: 40px;
  background-color: #673ab7;
}


